@import url("https://fonts.googleapis.com/css2?family=Droid+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Content:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}
.hide-scrollbar::-webkit-scrollbar {
  width: 0.25rem; 
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.animate-error {
  animation: fadeInOut 1s ease-in-out infinite;
}


